.services {
  width: 100%;
  margin-bottom: 20px;
}

.buttons {
  width: 100%;
  border-top: 3px solid #fff;
}

.buttons button {
  width: 50%;
  height: 50px;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background: var(--violet_light);
}

.btn-active {
  background: var(--violet_dark) !important;
}

/* card */
.card {
  width: 224px;
  min-width: 224px;
  height: 300px;
  cursor: pointer;
  border: 3px solid var(--red);
  border-radius: 10px;
  margin: 20px 20px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
}

.over_card {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 3, 43, 0.5);
}

.card .title {
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
}

.card .description {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-align: justify;
  padding: 0 15px;
}


/* celular */
@media (max-width: 600px) {
  .over_card {
    top: 0 !important;
  }
  .card .description {
    display: block !important;
    font-size: 14px !important;
  }
}